[Desktop Entry]
Name=Gungirl Sequencer
Comment=PCM Audio Seqencer
Exec=/usr/bin/ggseq
Icon=/usr/share/icons/ggseq_32.xpm
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;AudioVideo;
StartupNotify=true
